export(PrSpace)
export(Event)
S3method(Ops, prspace_event)
S3method(Ops, prspace_condition)
S3method("[", prspace_space)
S3method("[<-", prspace_space)
S3method(length, prspace_space)
S3method(format, prspace_condition)
S3method(print, prspace_space)
S3method(print, prspace_event)
S3method(print, prspace_condition)
